@import 'components/mixins';

$w: 1140px;
$c: #333333;
$bg: #0C59AF;
$bg2: lighten(#0C59AF, 20%);
$inputH: 40px;
$font-base: 14px;
$f: "Open Sans";

@import 'components/flexbox';
@import 'components/reset';
@import 'components/fonts';
@import 'components/code';
@import 'components/rwd';