@import 'components/mixins';

$row: 1140px;
$c: #333333;
$bg: #0C59AF;
$bg2: .8;
$inputH: 40px;
$font-base: 14px;
$f: "Open Sans";
$desktop: 1024px;
$table: 768px;
$mobile: 479px;

@import 'components/flexbox';
@import 'components/reset';
@import 'components/fonts';
@import 'components/code';
@import 'components/rwd';